services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: centinela
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: centinela
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7

  api:
    build: ./services/api
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://centinela:secret@db/centinela
      BROKER_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  scraper:
    # build: point to the folder that contains the Dockerfile for the scraper
    build: ./services/scraper
    environment:
      BROKER_URL: redis://redis:6379/0
    depends_on:
      - redis
      - api

  frontend:
    build: ./services/frontend
    ports:
      - "3000:80"

volumes:
  pgdata:
